body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./images/fallingrainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  width: 60vh;
  height: 40vh;
  background-color: #ebf1ff;
  border: 6px solid #d8e6ff;
  border-radius: 15px;
  box-shadow: 10px 10px 40px #807bf0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: -10px;
  right: 20px;
}

input {
  background: #d8e6ff;
  border: 1px solid #d8e6ff;
  color: #807bf0;
  border-radius: 5px;
  font-size: 10px;
  width: 40vh;
  padding: 5px 35px 5px 5px;
  box-shadow: 10px 10px 20px #807bf0;
}

button {
  background: #807bf0;
  border: 1px solid #807bf0;
  width: 10vh;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  margin-left: 5px;
}

button:hover {
  background: #d8e6ff;
  border: 1px solid #d8e6ff;
  cursor: pointer;
  color: #807bf0;
}

section {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -20px;
}

#current-temp-box {
  width: 35vh;
}

.current-temp {
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.symbol {
  font-size: 12px;
  color: #807bf0;
  position: relative;
  bottom: 20px;
}

.symbol:hover {
  color: white;
  cursor: pointer;
}

.currenttemp-icon {
  position: relative;
  width: 60px;
  right: 20px;
}

.city {
  font-size: 10px;
  color: #807bf0;
  position: relative;
  right: 90px;
  bottom: 20px;
}

.name {
  font-size: 18px;
  letter-spacing: 2px;
}

#week-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  bottom: -15px;
  width: 50vh;
}

div.weekdays {
  position: relative;
  bottom: 25px;
  font-size: 8px;
  color: #807bf0;
  padding: 8px;
  text-align: center;
  width: 30px;
}

.weekday-img {
  width: 30px;
}

/* #portfolio-link {
  position: relative;
  top: 200px;
  right: 300px;
  font-size: 10px;
  text-align: center;
  color: white;
} */

@media screen and (min-width: 900px) {
  #week-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    bottom: -30px;
    width: 100%;
    padding: 40px;
  }

  .weekdays {
    font-size: 8px;
    color: #807bf0;
    padding: 8px;
    text-align: center;
    padding: 20px;
  }

  .weekday-img {
    width: 40px;
  }
}

/* #portfolio-link {
  position: relative;
  top: 200px;
  right: 300px;
  font-size: 10px;
  text-align: center;
  color: white;
} */

/* <a href='https://www.freepik.com/vectors/rainfall'>Rainfall vector created by starline - www.freepik.com</a> */

/* <a href="https://www.flaticon.com/free-animated-icons/rain" title="rain animated icons">Rain animated icons created by Freepik - Flaticon</a> */
