body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./images/fallingrainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  width: 40vh;
  height: 60vh;
  background-color: rgb(185, 209, 255);
  border: 6px solid #d8e6ff;
  border-radius: 15px;
  box-shadow: 10px 10px 40px #807bf0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 80px;
}

input {
  background: #d8e6ff;
  border: 1px solid #d8e6ff;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 35px 5px 5px;
  box-shadow: 10px 10px 20px #807bf0;
}

button {
  background: #807bf0;
  border: 1px solid #807bf0;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  margin-left: 5px;
}

button:hover {
  background: #d8e6ff;
  border: 1px solid #d8e6ff;
  cursor: pointer;
  color: #807bf0;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 70px;
}

#current-temp-box {
  padding-right: 40px;
}

.current-temp {
  font-size: 48px;
  color: whitesmoke;
}

.symbol {
  font-size: 12px;
  color: white;
  position: relative;
  bottom: 20px;
}

.symbol:hover {
  color: #807bf0;
  cursor: pointer;
}

.currenttemp-icon {
  position: relative;
  width: 60px;
  bottom: -10px;
}

.city {
  font-size: 10px;
  color: white;
  position: relative;
  right: 50px;
  text-align: center;
}

.name {
  font-size: 20px;
  letter-spacing: 2px;
}

#week-temp {
  background-color: #807bf0;
  position: relative;
  top: 50px;
}

.weekdays {
  font-size: 10px;
  color: white;
}
/* <a href='https://www.freepik.com/vectors/rainfall'>Rainfall vector created by starline - www.freepik.com</a> */

/* <a href="https://www.flaticon.com/free-animated-icons/rain" title="rain animated icons">Rain animated icons created by Freepik - Flaticon</a> */
